.body{
    margin: 0;
    padding: 0;
}
.carousel{
    height: 600px;
    perspective: 250px;
}
.carousel .carousel-item{
    width: 450px;
    background: #000000;
    padding:10px;
    height: auto;
    text-align: center;
    border-radius: 15px;
    border: 2px yellow solid;
}

@media (max-width: 768px) {
    .carousel{
        margin-top: 50px;
        height: 400px;
        perspective: 100px;
    }
    .carousel .carousel-item{
        width: 70%;
        background: #000000;
        padding:10px;
        height: auto;
        text-align: center;
        border-radius: 15px;
        border: 2px yellow solid;
    }
}